

.multi-range-slider * {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.app__slider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 60px;
	&__switcher {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		margin-top:  20px;
		button {
			margin-top: 10px;
			border: none;
			background-color: #ffffff;
			font-size: 18px;
			color: #82a5b8;
			cursor: pointer;
			&:hover {
				color: #61b3df;
			}
		}
	}
}

.div__onInput {
	margin-top: 25px;
}

.multi-range-slider {
	border: none;
	box-shadow: none;
	width: 1200px;
    margin-top: 50px;
	display: flex;	
	position: relative;
	padding: 20px 10px;
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multi-range-slider .bar {
	display: flex;
}
.multi-range-slider .bar-left {
	width: 25%;
	background-color: #f0f0f0;
	box-shadow: none;
	padding: 4px 0px;
}
.multi-range-slider .bar-right {
	width: 25%;
	background-color: #f0f0f0;
	border-radius: 0px 10px 10px 0px;
	box-shadow: none
}
.multi-range-slider .bar-inner {
	background-color: #61b3df;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
	justify-content: space-between;
	box-shadow: none;
	border:rgba(16, 96, 188, 0.12);
	height: 8px;
}
.multi-range-slider .bar-inner-left {
	width: 50%;
}
.multi-range-slider .bar-inner-right {
	width: 50%;
}
.multi-range-slider .thumb {
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	cursor: pointer;
	border: 5px;
}
.multi-range-slider .thumb::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 2px;
	border: solid 3px #61b3df;
	box-shadow: none;
	border-radius: 50%;
	z-index: 1;
	bottom: 2px;
	cursor: pointer;
}
.multi-range-slider .input-type-range:focus + .thumb::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -7px;
	width: 11px;
	height: 11px;
	z-index: 2;
	border-radius: 50%;
	border: dotted 1px black;
	box-shadow: 0px 0px 5px white, inset 0px 0px 10px black;
}
.multi-range-slider .caption {
	margin-bottom: 20px;
	width: 2px;
	height: 2px;
	left: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;

}
.multi-range-slider .thumb .caption * {
	position: relative;
	min-width: 70px;
	min-height: 60px;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	color: #61b3df;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 0px 5px;
	white-space: wrap;
	font-weight: 700;
	bottom: 150%;
	right: 5px;
	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 40%;
		margin-bottom: 10px;
		border-width: 8px;
		border-style: solid;
		border-color: #ffffff transparent transparent transparent;
	}
}

.multi-range-slider .thumb:active .caption {
	display: flex;
}
.multi-range-slider .input-type-range:focus + .thumb .caption {
	display: flex;
}
.multi-range-slider .input-type-range {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.multi-range-slider .labels {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
	
	/* display: none; */
}
.multi-range-slider .label {
	font-size: 16px;
	display: flex;
	width: 1px;
	justify-content: center;
	color: rgba($color: #938a8a, $alpha: .65);
	font-weight: 700;
}
.multi-range-slider .label:first-child {
	justify-content: start;
	margin-right: 18px;
	font-weight: 700;
}
.multi-range-slider .label:last-child {
	justify-content: end;
	margin-left: 18px;
}
.multi-range-slider.zero-ranage-margin .thumb-left {
	right: 12px;
}
.multi-range-slider.zero-ranage-margin .thumb-right {
	left: 8px;
}



